<div class="row">
	<div class="col-sm-8 offset-2">
		<div class="col-sm-4 offset-4">
			<h4><%= @template.name %></h4>
		</div>
		<div class="template-card">
		  <div class="card-body">
		    <%= @template.body %>
		  </div>
		</div>
	<br>
	<br>
	<br>
	</div>
	</div>

</div>



