<div class="page-header">
	<div class="col-sm-12">
	<div class="jumbotron">
		  <h1 class="display-4 text-center">Document-Verify</h1>
		  <p class="lead">This is a simple application that makes you build beautiful templates for your documents. Built with Ruby on Rails</p>
		  <hr class="my-4">
		  <p>To learn more about Document-Verify and all its feartures, Signup now!</p>
		  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-light btn-lg" %>
	</div>
	</div>
<div class="row">
	<div class="col-sm-8">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras. Amet aliquam id diam maecenas ultricies mi. Enim diam vulputate ut pharetra sit amet aliquam. Dolor morbi non arcu risus quis varius. Rhoncus urna neque viverra justo nec. Hac habitasse platea dictumst quisque sagittis purus. Netus et malesuada fames ac. Sit amet massa vitae tortor. Ut tellus elementum sagittis vitae et leo duis. Est ultricies integer quis auctor elit sed. Amet mattis vulputate enim nulla aliquet. Ornare quam viverra orci sagittis eu volutpat odio facilisis mauris. Facilisis gravida neque convallis a cras semper auctor.
			<br><br>
			Faucibus in ornare quam viverra orci. Justo donec enim diam vulputate ut. Elementum sagittis vitae et leo duis. Fermentum posuere urna nec tincidunt praesent semper. In hac habitasse platea dictumst quisque. Scelerisque eleifend donec pretium vulputate. Nulla malesuada pellentesque elit eget gravida. Mi ipsum faucibus vitae aliquet nec ullamcorper sit. Lorem mollis aliquam ut porttitor leo. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est.
		</p>
	</div>

	<div class="col-sm-4">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id porta nibh venenatis cras. Amet aliquam id diam maecenas ultricies mi. Enim diam vulputate ut pharetra sit amet aliquam. Dolor morbi non arcu risus quis varius. Rhoncus urna neque viverra justo nec. Hac habitasse platea dictumst quisque sagittis 
		</p>
		<%= link_to "Sign In", new_user_session_path, class: "btn btn-outline-primary btn-lg" %>
	</div>
</div>
</div>