/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require trix
 */



@import "bootstrap";
@import "templates";

body {
	background: #f2f4f7;
	font-family: 'Helvetica Neue', Helvetica, Arial, Lato, sans-serif;
  	font-size: 14px;
  	color: #333;
}
.alert-notice{
  @extend .alert-success;
}

.alert-alert{
  @extend .alert-danger;
}

.page-header{
	top: 5px;
}

.jumbotron {
    background-color:#3480eb !important; 
    color: #ffffff;
}

.trix-content{
    height: 350px;
    overflow-y: auto;
    background: #ffffff;
}
