<div class="row">
	<div class="col-sm-6 offset-3">
		<div class="page-header">
			<h2><strong>Edit Organization</strong></h2>


			<%= render 'form' %>
			<br>
		<%= link_to "Back to Organization", organization_path(@organization), class: "btn btn-primary inline" %>
		</div>

	</div>
</div>