<div class="row">
	<div class="col-sm-6 offset-3">
		<div class="page-header">
			<h2><strong>Add a new Category</strong></h2>

			<%= render 'form' %>
		</div>
		<%= link_to "Back", organization_path(@organization), class: "btn btn-primary" %>
	</div>
</div>