<div class="row">
	<div class="col-sm-8 offset-2">
		<div class="page-header">
			<div class="text-sm-center">
				<h2><strong><%= @category.name %> Templates</strong></h2>
				<h5>Click to see Organization Destails before you join. You can also create your own Organization too..</h5>
			</div>
			<br>
			<% @category.templates.each do |template| %>
				<div class="card">
					 <div class="card-body">
					  
							<h4 class="d-inline"><%= template.name %></h4>	
						
						<%= link_to "View Template", organization_template_path(@organization, template), class: "btn btn-outline-primary float-right d-inline" %>
					 </div>
					 <hr>
				</div>
			<% end %>
		</div>
		<%= link_to "Back", organization_path(@organization), class: "btn btn-primary" %>
	</div>
</div>
